.HeroImg {
  background-image: url('../Images/istockphoto-1265003122-612x612.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.cardHeader {
    color: aquamarine;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: inherit;
}

.cloudImg {
}